/* App.css */

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: #303030;
  color: white;
}

.App-logo {
  height: 60px;  /* Adjust the size as needed */
  margin-right: 20px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.App-links {
  margin-top: 20px;
}

.App-links button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3f50b6;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.App-links button:hover {
  background-color: #072785;
}